@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0%;
}

.section1 {
  width: 100%;
  height: 100vh;
}

.section2 {
  width: 100%;
  height: 100vh;
}
.section3 {
  width: 100%;
  height: 100vh;
}
.section4 {
  width: 100%;
  height: 100vh;
  background-color: rgb(234, 229, 240);
  padding-top: 20px;
}

.section4 h1 {
  background-color: rgb(234, 229, 240);
  padding-top: 30px;
  text-align: center;
  font-size: 35px;
}

.questions h1 {
  font-size: 30px;
}

.questions h4 {
  font-size: 15px;
  text-align: left;
}

.questions p {
  font-size: 13px;
  color: blue;
  padding-top: 10px;
  margin-right: 10px;
}

.container {
  width: 45%;
  margin-left: 30%;
  margin-top: 30px;
  border-top: 1px solid rgb(190, 175, 175);
  padding-top: 15px;
  font-family: popins;
}
